
.container{
  width: 1504px;
  height: 731px;
  background-color: #CC2F75;
}


#outer-box{
  margin: 200px;
  width: 300px;
  height: 300px;
  background-color: #FE6600;
  float: left;
}


#inner-box{
  margin: 100px;
  width: 100px;
  height: 100px;
  background-color: #FEC200;
  float: left;
}
